<%- include("templates/header", { tituloWeb: 'Documentación' }) %>

<div class="container mt-5">
    <div class="text-center">
        <h2 class="display-6">Sistema de Administración de Cabañas</h2>
    </div>

    <div class="mt-4">
        <h2 class="h4">Documentación del Sistema</h2>
        <p>
            Bienvenido al sistema de administración de cabañas. Este proyecto está diseñado para simplificar la gestión de cabañas, proporcionando herramientas intuitivas para:
        </p>
        <ul class="list-group list-group-flush mb-3">
            <li class="list-group-item">Registrar y administrar información de cabañas.</li>
            <li class="list-group-item">Consultar detalles como número, capacidad, descripción y costo diario.</li>
            <li class="list-group-item">Optimizar la administración de recursos de manera eficiente.</li>
        </ul>
        <p>
            La documentación completa contiene instrucciones detalladas sobre cómo configurar y utilizar el sistema. Te invitamos a descargarla para más información.
        </p>
        <div class="text-center">
            <button class="btn btn-primary" onclick="window.location.href='/doc/Documentacion Cabañas.pdf'">
                Descargar Documentación
            </button>
        </div>
    </div>
</div>

<%- include("templates/footer") %>
