<%- include("templates/header", { tituloWeb: 'Sistema de Búsqueda' }) %>
        <h2>Documentación del Sistema</h2>
        <p>
            Bienvenido al sistema de administración de cabañas. Este proyecto está diseñado para simplificar la gestión de cabañas, proporcionando herramientas intuitivas para:
        </p>
        <ul>
            <li>Registrar y administrar información de cabañas.</li>
            <li>Consultar detalles como número, capacidad, descripción y costo diario.</li>
            <li>Optimizar la administración de recursos de manera eficiente.</li>
        </ul>
        <p>
            La documentación completa contiene instrucciones detalladas sobre cómo configurar y utilizar el sistema. Te invitamos a descargarla para más información.
        </p>
        <p>
            <button onclick="window.location.href='/doc/Documentacion Cabañas.pdf'">
                Descargar Documentación
            </button>
        </p>
    </main>







<%- include("templates/footer") %>
