<%- include("templates/header", {tituloWeb: 'Página de inicio' , }) %>

    <main>
        <div class="imagenindex">
            <img src="images/gestioncabana.png" alt="">
            <div class="texto-imagen">
                <h1>Bienvenido a Cabin Manager</h1>
                <p class="lead">El sistema integral para la gestión de complejos de cabañas.</p>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="mt-4">Gestión Eficiente de Cabañas con Cabin Manager</h2>
                    <p>Cabin Manager es la solución ideal para la administración integral de complejos de cabañas, simplificando tus operaciones diarias y brindándote control total sobre tu negocio. Nuestro software te permite gestionar reservas, controlar la disponibilidad, registrar huéspedes y optimizar tus procesos con facilidad.</p>
                    
                    <img src="images/cabanasbosque.jpg" class="img-fluid mt-4" alt="Cabin Manager">
                    
                    <h3 class="mt-4">Optimiza Tus Operaciones Diarias</h3>
                    <p>Con Cabin Manager, dispones de herramientas avanzadas para ofrecer una experiencia excepcional a tus huéspedes, mientras gestionas tu negocio de manera eficiente. Nuestro sistema innovador está diseñado para ahorrarte tiempo en tareas administrativas, dándote la libertad de centrarte en lo que realmente importa: el servicio a tus clientes.</p>
                    <img src="images/recepcion.png" class="img-fluid mt-4" alt="Cabin Manager">

                    <h3 class="mt-4">Diseño Adaptado a Tus Necesidades</h3>
                    <p>Cabin Manager se adapta tanto a pequeños complejos de cabañas como a grandes cadenas de alojamientos, permitiendo una fácil gestión sin importar el tamaño de tu negocio. Nuestro enfoque centrado en la facilidad de uso te garantiza una experiencia simple e intuitiva.</p>
                    <img src="images/cabanasbosque.jpg" class="img-fluid mt-4" alt="Cabin Manager">

                    <h3 class="mt-4">Características Principales</h3>
                    <ul class="list-unstyled">
                        <li>- <strong>Gestión de Reservas:</strong> Administra y organiza todas tus reservas desde una plataforma centralizada.</li>
                        <li>- <strong>Control de Disponibilidad:</strong> Monitorea en tiempo real la disponibilidad de tus cabañas.</li>
                        <li>- <strong>Registro de Huéspedes:</strong> Lleva un control detallado de tus huéspedes y sus preferencias, mejorando la personalización del servicio.</li>
                        <li>- <strong>Informes y Análisis:</strong> Obtén reportes detallados que te permitan analizar el rendimiento de tu negocio y tomar decisiones informadas.</li>
                        <li>- <strong>Soporte Multilingüe:</strong> Ofrece una experiencia de usuario personalizada para clientes internacionales.</li>
                    </ul>
                    
                    <h3 class="mt-4">Mejora Tu Rentabilidad</h3>
                    <p>Cabin Manager no solo facilita la administración de tus cabañas, sino que también te brinda información valiosa para mejorar tu ocupación y aumentar tus ingresos. Con análisis detallados y herramientas de gestión, puedes identificar oportunidades de crecimiento y optimizar tus recursos.</p>
                    
                    <h3 class="mt-4">Soporte Personalizado</h3>
                    <p>Nos comprometemos a ofrecerte un servicio de alta calidad. Por ello, proporcionamos soporte técnico especializado y asesoría personalizada para que puedas sacar el máximo provecho de Cabin Manager. Nuestro equipo está siempre disponible para resolver tus dudas y ayudarte en cada paso del camino.</p>
                    
                    <h3 class="mt-4">Únete a la Revolución en Gestión de Cabañas</h3>
                    <p>Descubre cómo Cabin Manager puede transformar la gestión de tu complejo de cabañas. Simplifica tus procesos y mejora la experiencia de tus huéspedes con nuestra solución avanzada y fácil de usar.</p>
                    <img src="images/responsive.png" alt="imagen responsiva" id="dispositivos">
                    
                    <a href="#" class="btn btn-primary btn-lg mt-3">Descubre Más</a>
                </div>
            </div>
        </div>
    </main>

    <%- include("templates/footer") %>