<%- include("templates/header", {tituloWeb: 'Registro' , }) %>
<div class="register-container">
    <div class="register-card">
        <div class="text-center mb-4">
            <img src="../images/LogoCabin.png" alt="Logo" width="100">
            <h2 class="mt-3">Cabin Manager</h2>
        </div>
        <form action="/register" method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Nombre</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                    <input type="text" class="form-control" id="name" name="nombre" placeholder="Ingresa tu nombre" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="surname" class="form-label">Apellido</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                    <input type="text" class="form-control" id="surname" name="apellido" placeholder="Ingresa tu apellido" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Correo Electrónico</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Ingresa tu correo electrónico" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Ingresa tu contraseña" required>
                    <span class="input-group-text toggle-password"><i class="fas fa-eye"></i></span>
                </div>
            </div>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirma tu contraseña" required>
                    <span class="input-group-text toggle-password"><i class="fas fa-eye"></i></span>
                </div>
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Registrarse</button>
            </div>
            <div class="mt-3 text-center">
                <p>¿Ya tienes una cuenta? <a href="/login">Inicia sesión aquí</a></p>
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('.toggle-password').click(function() {
            $(this).find('i').toggleClass('fa-eye fa-eye-slash');
            let input = $(this).siblings('input');
            if (input.attr('type') === 'password') {
                input.attr('type', 'text');
            } else {
                input.attr('type', 'password');
            }
        });

        $('form').on('submit', function(event) {
            event.preventDefault(); // Evita el envío tradicional del formulario
            const formData = $(this).serialize(); // Serializa el formulario

            $.ajax({
                url: '/register',
                type: 'POST',
                data: formData,
                success: function(response) {
                    Swal.fire({
                        icon: 'success',
                        title: '¡Registro exitoso!',
                        text: response.success,
                        showConfirmButton: false,
                        timer: 1500
                    }).then(() => {
                        window.location.href = '/'; // Redirige después de un registro exitoso
                    });
                },
                error: function(xhr) {
                    const errorMsg = xhr.responseJSON && xhr.responseJSON.error ? xhr.responseJSON.error : 'Ocurrió un error inesperado';
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: errorMsg
                    });
                }
            });
        });
    });
</script>
<%- include("templates/footer") %>
