body {
  background-color: #ffffff;

}

header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 2;
}
#logo {
  width: 150px;
  margin-right: 2rem;
}
.navbar {
  background: rgb(42, 42, 45);
  justify-content: space-between;
}
.navbar-nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-nav-right {
  margin-left: auto;
}


.dropdown-item:hover{
  background: none;
}
/* Ocultar inicialmente */
.dropdown-menu {
  display: block;
  background: rgb(42, 42, 45);
  border: none;
  border-radius: 0 0 10px 10px !important;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px); /* Mover hacia arriba para animación */
  transition: all 0.5s ease;
}

/* Cuando se muestra el dropdown */
.dropdown-menu.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0); /* Mover de nuevo a la posición original */
}

.nav-link, .dropdown-toggle, .dropdown-item {
  color: rgb(244, 238, 229);
  font-weight: bold;
}
.nav-link:hover,.dropdown-item:hover {
  color: rgb(206, 203, 174);
}

.rounded-circle {
  width: 40px ; 
  height: 40px;
  object-fit: cover; 
  margin-right: 1rem;
  border: 2px solid #ffffff;
}

#inicio-sesion, #registro {
  margin: 1rem;
  border-radius: 25px;
  max-width: 150px;
  text-align: center;
  background-color: rgb(67, 94, 227);
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: 3px 3px 0px rgb(46, 63, 150);

}

#inicio-sesion:hover, #registro:hover {
  color: rgb(67, 94, 227);
  background-color: whitesmoke;
  box-shadow: 3px 3px 0px rgb(163, 164, 166);
}

.btn {
  border: 1px solid black;
  color: black;
}
.btn:hover {
  background: rgb(105, 139, 203);
  border: 1px solid black;
}

.img-fluid {
  border-radius: 10px;
  box-shadow: 5px 5px 1.5rem rgb(70, 68, 68);

}

.mt-5 {
  padding: 2rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

/*Index */
.imagenindex {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.imagenindex img{
  width: 100%; 
  height: auto; 
  display: block; 
}

.texto-imagen {
  position: absolute;
  bottom: 0; 
  left: 50%;
  transform: translateX(-50%); 
  text-align: center;
  width: 100%;
}

.lead {
  margin: auto;
}

.col-md-12 p {
  padding-left: 10%;
  padding-right: 10%;
}

#dispositivos{
  width: 50%; 
  margin: auto;
  height: auto; 
  display: block; 
}


/* Inicio de Sesión */
.login-container, .register-container, .admin-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.login-card, .register-card {
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.input-group-text {
  background-color: #ffffff;
  border-right: 0;
}
.form-control:focus {
  box-shadow: none;
  border-color: #80bdff;
}
.input-group .form-control {
  border-left: 0;
}
.toggle-password {
  cursor: pointer;
}

.btn-primary {
  background-color: rgb(22, 22, 21);
  color: antiquewhite;
}


/* Administracion General*/

.admin-card {
  width: 100%;
  max-width: 600px;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.menu-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.list-group-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 1.2rem;
}
.list-group-item i {
  margin-right: 1rem;
}

#inicio:hover {
  background-color: #174f8c;
}

#nuevo, #saveEditButton, #saveAddButton{
  background-color: rgb(84, 202, 68);
}

#nuevo:hover, #saveEditButton:hover, #saveAddButton:hover {
  background-color: rgb(42, 156, 27);
}

#volver {
  background: #80bdff;
}
#volver:hover {
  background-color: #174f8c;
}

#edit {
  background-color: rgb(236, 236, 71);
}
#edit:hover {
  background-color: rgb(238, 208, 10);
}

#delete:hover ,#confirmDeleteButton:hover{
  background-color: rgb(201, 6, 6);
}

#downloadPdf {
  background-color: rgb(207, 81, 35);
}

#downloadPdf:hover {
  background-color: rgb(193, 56, 7);
}

/*Perfil*/
.img-profile {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid grey;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}


/* Estilos de Loader */
.section_loader {
  position: fixed;
  left:0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(211, 197, 197, 0.429);
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
}

.loader {
  position: relative;
  width: 60px;
  height: 60px;
}

.loader .loader_1 {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 4px solid #3a3939;
  border-left-color: transparent;
  border-bottom: none;
  border-radius: 50%;
  animation: loader-1 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}

.loader .loader_2 {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 4px solid rgb(105, 134, 209);
  border-top-color: transparent;
  border-right: none;
  border-radius: 50%;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  animation: loader-2 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}

.nota_load {
  position: relative;
  top: 70px; /* Ajusta la posición del texto para que esté debajo de los círculos */
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

.show_loader {
  display: flex;
}

@keyframes loader-1 {
  0%{
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-2 {
  0%{
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/* FOOTER */
#imgfooter {
  width: 100%;
  overflow: hidden;
}

.piepagina {
  background-color: rgb(42, 42, 45);
  padding-top: 1rem;
  width: 100%;
  height: 5rem;
  color: antiquewhite;
  justify-content: space-between;
  text-align: center;
}

.piepagina p {
  font-weight: bold;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

button:hover {
  background-color: #45a049;
}