<div class="container mt-5">
    <form class="d-flex navbar-nav-center" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
    <h1 class="mb-4">
        <%= titulo %>
    </h1>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <% encabezados.forEach(encabezado=> { %>
                    <th>
                        <%= encabezado %>
                    </th>
                    <% }) %>
            </tr>
        </thead>
        <tbody>
            <% datos.forEach(dato=> { %>
                <tr>
                    <% for (let key in dato) { %>
                        <td>
                            <%= dato[key] %>
                        </td>
                        <% } %>
                </tr>
                <% }) %>
        </tbody>
    </table>
</div>